<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Company Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  .jumbotron {
    background-color: rgba(74,194,154,255);
    color: #fff;
    padding: 100px 25px;
  }
  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo {
    font-size: 200px;
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }
  </style>
</head>
<body>

<div class="jumbotron text-center">
  <h1>SVUV Inventory Managament</h1> 
  <p>Always happy to help</p>
  <center>
  <div>
    <button class="btn btn-default btn-lg" ><a href ="signup.html">Sign Up</a></button>
    <button class="btn btn-default btn-lg" ><a href = "signin.html">Sign In</a></button>
  </div>
</center>
</div>

<!-- Container (About Section) -->
<div class="container-fluid">
  <div class="row">

    <div class="col-sm-12">
        <center>
      <h2>About Company</h2>
      <h4>Manage orders. Track inventory. Handle GST billing. Oversee warehouses. One inventory management software to run all your inventory operations.</h4>      
    </center>
    </div>
  </div>
</div>

</body>
</html>